body {
	height: 100%;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-repeat: repeat,			no-repeat,			no-repeat;
	background-size: 100px 100px, cover,				cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;
}
.topBar{
	background-color: #28364c;
	height:8%;
	width:100%;
	top:0;
	left:0;
	position:absolute;
}
#name{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:white;
	font-size:25px;
	font-family: Microsoft JhengHei;
	margin-block-start: 0.01em;
    margin-block-end: 0.01em;
}